.addword-container{
    margin-top: 10px;
    padding: 0 48px 10px;
    border-radius: 20px;
    border-top: 1px solid #0e752d;
    background-color: rgba(65, 65, 65, 0.185);
    padding-bottom: 20px;
}

.addword-title{
    margin: 10px 0;
    text-align: center;
}

.addword-form{
    margin: 0 auto;
    max-width: 700px;
}

.addword-button{
    width: 150px;
}

.error-msg{
    max-width: 700px;
    background-color: rgba(150, 0, 0, 0.24);
    min-width: 324px;
    padding: 12px 10px 12px;
    margin-bottom: 10px;
    border: 2px solid brown;
    text-align: center;
    border-radius: 12px;
    color: white;
  }