.auth-container{
    width: 100%;
    
    padding: 30px 48px;
}

.row.no-gutters {
    --bs-gutter-x: 0;
  }

.auth-input{
    max-width: 700px;
    min-width: 324px;
}

.auth-button{
    width: 100px;
}

.auth-registration-link{
    text-decoration: underline;
}

.auth-registration-link:hover{
    color: blue;
}

*::-webkit-scrollbar {
    width: 12px; /* ширина скроллбара */
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: #2c2d31; /* цвет ползунка */
  }
  
  *::-webkit-scrollbar-track {
    background-color: rgb(33,37,41); /* цвет фона */
  }