.mywords-container{
    margin-top: 10px;
    padding: 0 48px 10px;
    border-radius: 20px;
    border-top: 1px solid #0e752d;
    background-color: rgba(65, 65, 65, 0.185);
}

.h2{
    text-align: center;
    padding-top: 10px;
}

.table-border{
    width: 100%;
    margin: 30px 0;
    border: 1px solid #0e752d;
    border-radius: 15px;
    overflow: hidden;
}


.table-container {
    width: 100%;
    border-radius: 10px;

}

.th-item, .td-item{
    border-radius: 10px;
    border: 1px solid #0e752d;
    padding: 8px 12px;
    text-align: left;
}

th:nth-child(1) {
    border-top: none;
    border-left: none;
    width: 10%; 
}

th:nth-child(2) {
    border-top: none;
    width: 10%;
}

th:nth-child(3) {
    border-top: none;
    width: 10%;
}

th:nth-child(4) {
    border-top: none;
    border-right: none;
    width: 70%;
}

td:nth-child(1) {
    border-bottom: none;
    border-left: none;
}

td:nth-child(2) {
    border-bottom: none;
}

td:nth-child(3) {
    border-bottom: none;
}

td:nth-child(4) {
    border-bottom: none;
    border-right: none;
}

